<div class="doc-code-wrap" data-controller="copy">
  <button type="button"
          class="doc-code-copy"
          data-action="click->copy#copy">copy</button>
  <pre class="doc-code"><code data-copy-target="content"><%= code.strip %></code></pre>
</div>
